<title>Summarize Text</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <h2>Summarize Text</h2>
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <label for="text">Text or URL</label>
                <textarea class="form-control" id="text" name="text" rows="7"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            {% for message in messages %}
                {% if "Error" not in message[1] %}
                    <div class="alert alert-info"><strong>Success! </strong> {{ message[1] }}</div>
                {% endif %}

                {% if "Error" in message[1] %}
                    <div class="alert alert-warning">{{ message[1] }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="col-lg-2"></div>
    </div>
    {% if summarunner %}
    <div class="row">
        <div class="col-lg-2"><h4>SummaRuNNer</h4> <p>{{ summarunner }}</p></div>
        <div class="col-lg-2"><h4>Topic SVMs</h4> <p>{{ topic_svm }}</p></div>
        <div class="col-lg-2"><h4>2 Sents per Topic SVMs</h4><span>{{ topic_svm_short }}</span></div>
        <div class="col-lg-2"><h4>Binary SVMs</h4><span>{{ binary_svm }}</span></div>
        <div class="col-lg-2"><h4>TFIDF Summary</h4><span>{{ tfidf }}</span></div>
        <div class="col-lg-2"><h4>Original Text</h4><span>{{ text }}</span></div>
    </div>
    {% endif %}
</div>